<div class="alert alert-info">
  Este es el login de la aplicación
</div>

<div class="container divcenter" style="max-width: 500px;">
  <h3 [class.titlelogin]="this.titleLogin">{{title}}</h3>
  <div class="row espacio">
    <div class="row form-group">
      <label for="mail">Usuario</label>
      <!-- Validamos al pulsar ENTER -->
      <input type="email"
             name="mail"
             (keyup.enter)="validarMail($event?.target?.value)"
             [(ngModel)]="user"
             class="form-control"
             id="mail"
             aria-describedby="emailHelp"
             placeholder="Usuario (e-mail)">
      <small id="emailHelp" class="form-text text-muted">No compartas tu usuario con nadie.</small>
    </div>
    <div class="aler alert-danger" *ngIf="!mailValido">
      El correo {{mailIn}} no es correcto
    </div>
    <div class="row form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password"
             [(ngModel)]="password"
             class="form-control"
             id="exampleInputPassword1"
             placeholder="Contraseña">
      <small id="passHelp" class="form-text text-muted">No compartas tu contraseña con nadie.</small>
    </div>
    <div class="aler alert-danger" *ngIf="!passValid">
      Contraseña demasiado corta
    </div>
    <div class="row">
      <button type="submit" class="btn btn-success col-6" (click)="envioLogin();">Login</button>
      <button type="submit" class="btn btn-primary col-6" [routerLink]="'/login/register'" >Registrarme</button>
    </div>
  </div>
</div>
