<div class="container">
  <div class=" text-center mt-5 ">
    <h1>Bienvenido a nuestra aplicación</h1>
    <h3>¿En qué te podemos ayudar?</h3>
  </div>
  <div class="row ">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form id="contact-form" role="form" [formGroup]="formularioContacto" (ngSubmit)="enviarFormulario();">
              <div class="controls">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nombre">Nombre *</label>
                      <input id="nombre" type="text"
                             name="nombre"
                             class="form-control"
                             formControlName="nombre"
                             placeholder="Introduce tu nombre *"
                             required="required"
                             data-error="El campo es obligatorio.">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_lastname">Apellidos *</label>
                      <input id="form_lastname"
                             type="text"
                             formControlName="apellido"
                             class="form-control"
                             placeholder="Introduce tus apellidos *"
                             required="required"
                             data-error="El campo es obligatorio.">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="form_email">Email *</label>
                      <input id="form_email" type="email"
                             formControlName="email"
                             class="form-control"
                             placeholder="Introduce tu email *"
                             required="required"
                             data-error="El email es obligatorio.">
                      <label for="form_cemail">Confirmar Email *</label>
                      <input id="form_cemail" type="email"
                             formControlName="form_cemail"
                             class="form-control"
                             placeholder="Introduce tu email *"
                             required="required"
                             data-error="El email es obligatorio.">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_need">Asunto *</label>
                      <select
                        id="form_need"
                        formControlName="asunto"
                        class="form-control"
                        required="required"
                        data-error="Please specify your need.">
                        <option value="" selected disabled>Asunto</option>
                        <option>Solicitar factura</option>
                        <option>Hacer un nuevo pedido</option>
                        <option>No he recibido mi pedido</option>
                        <option>Agradecimientos</option>
                      </select></div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_message">Mensaje *</label>
                      <textarea id="form_message"
                                formControlName="mensaje"
                                class="form-control"
                                placeholder="Danos más detalles"
                                rows="4"
                                required="required"
                                data-error="Es un formulario de contacto, debes enviar un mensaje"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-center" style="padding-top: 10px;">
                    <input type="submit"
                           class="btn btn-success btn-send pt-2 btn-block "
                           *ngIf="formularioContacto.valid"
                           value="Enviar">
                    <div class="alert alert-info" *ngIf="!formularioContacto.valid">
                      Podrá enviar el mensaje cuando todos los campos estén correctamente rellenados.
                    </div>
                    <div class="alert alert-info" *ngIf="formularioContacto.valid">
                      Tras enviar el mensaje, será redirigido al LOGIN.
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- /.8 -->
    </div> <!-- /.row-->
  </div>
</div>
